.header {
  display: flex;
  padding: 20px 25px;
  color: navy;
}

.title {
  font-size: 20px;
}

.header nav {
  margin-left: auto;
}

.header ul {
  display: flex;
  padding: 3px 0;
}

.header ul li {
  margin-left: 25px;
  font-size: 13px;
  font-weight: bold;
}

.img_box {
  margin: 80px 0 0 auto;
  display: block;
  width: 50%;
}

.copy_n_bar {
  margin-top: -140px;
  margin-bottom: 30px;
}

.copy {
  font-size: 57px;
}

.blue_bar {
  height: 165px;
  width: 75%;
  background-color: navy;
}
